<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon"
        href="https://imgc.androidappsapk.co/fXDz_Tj2gGTq7hI2Q8cFSCLy-a8Bpmhle27baJq3fFNzrkYgF5jtff-ADsHBTNOuKxM=s300">

    <title>Sala</title>

    <!-- javascript -->
    <script src="content/js\jquery-3.5.1.min.js"></script>
    <script src="content/data-tables/js/jquery.dataTables.js"></script>
    <script src="content/data-tables/js/dataTables.bootstrap.js"></script>
    <script src="content/js/bootstrap.min.js"></script>
    <script src="content/adicional/main.js"></script>
    <script src="content/adicional/sala.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="content/data-tables/css/dataTables.bootstrap.css" />
    <link href="content/css/bootstrap.min.css" rel="stylesheet">
    <link href="content/site.css" rel="stylesheet">
    <style>
        .messages {
            width: 90%;
            height: 400px;
            margin: 20px 0;
            border: 1px solid rgb(42, 1, 119);
            padding: 20px;
            background-color: rgb(219, 218, 221);
            align-items: left;
        }

        #chat {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .borda {
            border: 1px solid rgb(18, 13, 27);
        }
    </style>

</head>

<body class="text-center bodyImage3">
    <div id="modal" class="modal">
        <div style="text-align: center;">
            <h2>Carregando</h2>
        </div>
        <div class="loader">
            <img src="content/images/loading.gif" alt="">
        </div>
    </div>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="home.html" style="font-size: 20px;"> <span style="font-size: 25px;">🎲</span>
                RPG Replublic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div id="navdropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="login.html">
                                Logar
                            </a>
                            <a class="dropdown-item" href="registrar.html">Registrar</a>
                        </div>
                        <div id="navdropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="login.html">
                                Sair
                            </a>
                            <a class="dropdown-item" href="#" onclick="home.LogOut()">Registrar</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sobre.html">Sobre ❔</a>
                    </li>
                </ul>
                <a class="nav-link" href="perfil.html">
                    <img class="avatarIcon" src="https://avatars.dicebear.com/api/avataaars/uash.svg" alt="user">
                    Perfil
                </a>
            </div>
        </nav>
    </header>
    <div>
        <br /><br /><br />
        <div class="container">
            <div class="row">
                <h1 style="align-items: center;" id="NomeSala">Sala #022</h1>
            </div>
            <div class="row form-signin">
                <div class="col-4 borda">
                    </br>
                    </br>
                    <h1> Chat</h1>
                    <form id="chat">
                        <div class="messages"></div>
                        <input id="txtText" type="text" style="width: 90%;" name="username" placeholder="digite sua mensagem">
                        <br/>
                        <button class="form-control" type="button" onclick="sala.adicionarMensagem()"> Enviar</button>
                        </input>
                    </form>
                </div>
                <div class="col-8 borda">
                    <form id="bodyContent" class="">
                        <h1>Ficha</h1>
                        <p style="text-align: left;">Nome do personagem</p>
                        <input id="characterName" class="form-control" placeholder="Nome do Personagem" required=""
                            autofocus="">

                        <p style="text-align: left;">Raça do personagem</p>
                        <input id="characterRace" class="form-control" placeholder="Raça do Personagem" required=""
                            autofocus="">

                        <p style="text-align: left;">Vida do personagem</p>
                        <input id="characterHp" type="number" class="form-control" placeholder="Vida do Personagem"
                            required="" autofocus="">

                        <p style="text-align: left;">Nome da Campanha</p>
                        <input id="campaignName" class="form-control" placeholder="Nome da Campanha" required=""
                            autofocus="">

                        <p style="text-align: left;">Força</p>
                        <input id="strength" type="number" class="form-control" placeholder="Força" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Força</button>

                        <p style="text-align: left;">Destreza</p>
                        <input id="dexterity" type="number" class="form-control" placeholder="Destreza" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Destreza</button>

                        <p style="text-align: left;">Constituição</p>
                        <input id="constitution" type="number" class="form-control" placeholder="Constituição"
                            required="" autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Constituição</button>

                        <p style="text-align: left;">Inteligência</p>
                        <input id="intelligence" type="number" class="form-control" placeholder="Inteligência"
                            required="" autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Inteligência</button>

                        <p style="text-align: left;">Sabedoria</p>
                        <input id="wisdom" type="number" class="form-control" placeholder="Sabedoria" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Sabedoria</button>

                        <p style="text-align: left;">Carisma</p>
                        <input id="charisma" type="number" class="form-control" placeholder="Carisma" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Carisma</button>

                        <p style="text-align: left;">Proficiência</p>
                        <input id="proficiency" type="number" class="form-control" placeholder="Proficiência"
                            required="" autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Proficiência</button>

                        <p style="text-align: left;">Velocidade</p>
                        <input id="walkingSpd" type="number" class="form-control" placeholder="Velocidade" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Velocidade</button>

                        <p style="text-align: left;">Iniciativa</p>
                        <input id="initiative" type="number" class="form-control" placeholder="Iniciativa" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Iniciativa</button>

                        <p style="text-align: left;">Acrobacia</p>
                        <input id="acrobatics" type="number" class="form-control" placeholder="Acrobacia" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Acrobacia</button>

                        <p style="text-align: left;">Manipulação de Animais</p>
                        <input id="animalHandling" type="number" class="form-control"
                            placeholder="Manipulação de Animais" required="" autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Manipulação de Animais</button>

                        <p style="text-align: left;">Arcana</p>
                        <input id="arcana" type="number" class="form-control" placeholder="Arcana" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Arcana</button>

                        <p style="text-align: left;">Atletismo</p>
                        <input id="athletics" type="number" class="form-control" placeholder="Atletismo" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Atletismo</button>

                        <p style="text-align: left;">Deception</p>
                        <input id="deception" type="number" class="form-control" placeholder="Deception" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Deception</button>

                        <p style="text-align: left;">História</p>
                        <input id="history" type="number" class="form-control" placeholder="História" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar História</button>

                        <p style="text-align: left;">Insight</p>
                        <input id="insight" type="number" class="form-control" placeholder="Insight" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Insight</button>

                        <p style="text-align: left;">Intimidação</p>
                        <input id="intimidation" type="number" class="form-control" placeholder="Intimidação"
                            required="" autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Intimidação</button>

                        <p style="text-align: left;">Investigação</p>
                        <input id="investigation" type="number" class="form-control" placeholder="Investigação"
                            required="" autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Investigação</button>

                        <p style="text-align: left;">Medicina</p>
                        <input id="medicine" type="number" class="form-control" placeholder="Medicina" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Medicina</button>

                        <p style="text-align: left;">Natureza</p>
                        <input id="nature" type="number" class="form-control" placeholder="Natureza" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Natureza</button>

                        <p style="text-align: left;">Percepção</p>
                        <input id="perception" type="number" class="form-control" placeholder="Percepção" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Percepção</button>

                        <p style="text-align: left;">Performance</p>
                        <input id="performance" type="number" class="form-control" placeholder="Performance" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Performance</button>

                        <p style="text-align: left;">Persuasão</p>
                        <input id="persuasion" type="number" class="form-control" placeholder="Persuasão" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Persuasão</button>

                        <p style="text-align: left;">Religião</p>
                        <input id="religion" type="number" class="form-control" placeholder="Religião" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Religião</button>

                        <p style="text-align: left;">Habilidade com as Mãos</p>
                        <input id="sleightOfHand" type="number" class="form-control"
                            placeholder="Habilidade com as Mãos" required="" autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Habilidade com as Mãos</button>

                        <p style="text-align: left;">Furtividade</p>
                        <input id="stealth" type="number" class="form-control" placeholder="Furtividade" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Furtividade</button>

                        <p style="text-align: left;">Sobrevivência</p>
                        <input id="survival" type="number" class="form-control" placeholder="Sobrevivência" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Sobrevivência</button>

                        <p style="text-align: left;">Acerto</p>
                        <input id="hit" type="number" class="form-control" placeholder="Acerto" required=""
                            autofocus="">
                        <button class="btn btn-lg btn-primary btn-block">Rolar Acerto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>&copy; RPG Republic - 2021</p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    var socket = io('http//localhost:3000');
</script>

</html>