body {
    background: url(images/background/back.png);
}

    /* BODY */
    body > header {
        border-bottom: 1px solid transparent;
        position: fixed;
        top: 0px;
        width: 100%;
        padding: 0 !important;
        z-index: 99;
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.51);
        background-color: #65818b;
        border-color: rgba(172, 166, 70, 1);
        border-width: 2px;
        /*box-shadow: 0 5px 15px rgba(172, 166, 70, 1);*/
    }

        body > header h1 {
            margin: 0;
            line-height: 40px;
            color: white;
            padding-left: 15px;
            font-size: 20px;
            text-transform: uppercase;
        }

            body > header h1 img {
                height: 25px;
                margin-top: -5px;
            }
/* FIM body */


/* NAVEGACAO */
.navegacao {
    border-right: 1px solid transparent;
    background-color: #65818b;
    border-color: rgba(172, 166, 70, 1);
    border-width: 3px;
    position: fixed;
    z-index: 9;
}

    .navegacao.show {
        display: block !important;
    }

    .navegacao.hide {
        display: none !important;
    }

/* FIM NAVEGACAO */

#perfil > ul > li > a {
    color: white;
}

    #perfil > ul > li > a:hover,
    #perfil > ul > li > a:focus,
    #perfil > ul > li.open > a {
        background: rgba(99, 174, 234, 0.69);
        color: #fff;
    }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: rgba(206, 195, 8, 0.75);
    background-image: linear-gradient(to bottom, #8a9a03, rgb(255, 243, 59) );
    color: #022a4a;
}



/*MENU*/
.menu > ul > li {
    border-color: #022a4a;
}

    .menu > ul > li a {
        color: #fff;
    }

    .menu > ul > li > a:hover,
    .menu > ul > li.active > a,
    .menu > ul > li.active > a:hover,
    .menu > ul > li.active > a:focus {
        background: #f4f4f4;
        color: #022a4a;
    }

.menu ul > li > a + ul li > a:hover,
.menu ul > li > a + ul li.active > a,
.menu ul > li > a + ul li.active > a:hover,
.menu ul > li > a + ul li.active > a:focus {
    background: #f4f4f4;
    color: #022a4a;
}
/*BREADCRUMB MIGALHA*/
.breadcrumb a {
    color: #267CC4;
}

.control-label {
    color: #0d3a66;
}

.panel-default {
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

    .panel-default > .panel-heading, .panel-title {
        background: #F5F5F5;
        color: #022a4a;
    }

#img_home {
    box-shadow: 0 5px 10px rgba(0,0,0,0.75);
}

#img_home_mini {
    max-width: 105% !important;
    height: auto !important;
    width: auto\9 !important;
    box-shadow: 0 5px 10px rgba(0,0,0,0.75);
}


/*BOTAO BTN*/
.btn-primary {
    background-color: rgb(13, 69, 109);
    background-image: linear-gradient(to bottom, rgb(32, 90, 131), rgba(0, 114, 209, 0.92) );
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        background-image: linear-gradient(to bottom, rgb(42, 117, 170), rgb(8, 133, 239) );
        border-color: #326fa5;
        color: #fff;
    }

.btn-default {
    background-image: linear-gradient(to bottom, #fff, #ccc);
}

    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: #333;
        background-image: linear-gradient(to bottom, #eee, #ccc);
    }

/*PAGINACAO*/
.pager li > a, .pager li > span {
    color: #267cc4;
}

.paging_full_numbers {
    width: 100% !important;
    text-align: center !important;
}

.dataTables_wrapper .dataTables_paginate .current.paginate_button, .dataTables_wrapper .dataTables_paginate .current.paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .disabled.paginate_button, .dataTables_wrapper .dataTables_paginate .disabled.paginate_button:hover, .dataTables_wrapper .dataTables_paginate .disabled.paginate_button:active,
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #267cc4 !important;
}

table.no-footer.dataTable {
    border-bottom: 0px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid rgba(173, 192, 206, 1) !important;
    background: rgba(173, 192, 206, 1) !important;
}

/*RODAPE*/
footer {
    height: 40px;
    padding: 10px;
    background-color: rgba(61, 62, 61, 1);
}

    footer p {
        color: #888888;
        font-size: 11px;
    }

    footer img {
    }


/*TABELA*/
.tabela-resultado {
    border-color: rgba(102, 102, 102, 1);
}

.table {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
   
}

    .table > thead > tr > th, .table > tbody > tr > td {
        /*border-color: rgba(102, 102, 102, 1) !important;*/

    }

    .table > thead > tr > th {
        background: none repeat scroll 0 0 rgb(200, 199, 143);
        border-color: #e0dcdc;
        color: #585858;
    }

.sorting {
    background: url('images/icone-ordenar.png') no-repeat rgb(200, 199, 143) center right !important;
}

.sorting_asc {
    background: url('images/icone-ordenar-asc.png') no-repeat rgb(200, 199, 143) center right !important;
}

.sorting_desc {
    background: url('images/icone-ordenar-desc.png') no-repeat rgb(200, 199, 143) center right !important;
}

.sorting_disabled {
    background: rgb(200, 199, 143) center right !important;
}

.table > tbody > tr > td {
    background: none repeat scroll 0 0 #eaeaea;
    color: #666;
}

.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background: none repeat scroll 0 0 #f7f7f7;
}

.table-striped tbody tr.selected td {
    background-color: #FFD600;
    color: #00558F;
}


.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #dedede;
}


.table > tfoot > tr > th, .table > tbody > tr > td {
    border-color: #fff !important;
}

.table > tfoot > tr > th {
    background: none repeat scroll 0 0 rgba(101, 128, 138, 1);
    border-color: #fff;
    color: #fff;
}
