/*
POPUP
//////////////////////////////////////*/
.popup {
    background: #f5f6f8;
    width: 90%;
    height: 90%;
    padding: 5%;
    overflow: hidden;
}

    .popup h3 {
        height: 22px;
        text-indent: -900px;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .popup .table {
        width: 100%;
        margin-bottom: 10px;
    }

    .popup .info {
        color: #dd3e00;
    }

    .popup .clear {
        padding-top: 10px;
    }

        .popup .clear a {
            margin: 0 0 0 50%;
            position: relative;
            left: -50px;
        }

#div_info_conteudo {
    display: none;
    position: absolute;
    top: 41.5px;
    z-index: 9999;
    opacity: 1;
    display: block;
    min-height: 150px;
    background-color: #E3E8ED;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    min-width: 100px;
    padding: 25px;
}

#div_popup_mensagem {
    text-align: center;
}