

.TMloader {
    border: 16px solid #808080;
    border-top: 16px solid #FCDB00;
    border-radius: 600%;
    width: 12em;
    height: 12em;
    animation: spin 2s linear infinite;
    position: relative;
    bottom: 11.5%;
    right: 10.5%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.TMloaderLogo {
    background: #FCDB00 url(images/LOGOTM_965.png) no-repeat center bottom;
    border-radius: 50%;
    border-top: 1px solid #FCDB00;
    border-right: 1px solid #FCDB00;
    border-bottom: 1px solid #FCDB00;
    border-left: 1px solid #FCDB00;
    width: 10em;
    height: 10em;
    background-size: 10em 10em;
    /*margin: 60px auto;*/
    position: relative;
}
